body {
  margin: 0px;
  position: relative;
  width: 1440px;
  height: 3044px;

  background: #ffffff;
}

.container {
  margin: auto;
}

#header-block {
}

.header {
  display: inline-block;
}

.logo {
  display: inline-block;
}

nav {
  margin: 0px;
  display: inline-block;
}

.ul {
  display: flex;
}

.top {
  position: relative;
}

.center {
  position: absolute;
  width: 1241px;
  height: 297px;
  left: 100px;
}

.bg_shoes {
  width: 100%;
  height: auto;
}

.top h2 {
  font-family: monospace;
  font-size: 56px;
  font-weight: 400;
  line-height: 78px;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
}
