body {
  margin: 0px;
    }

.container {
  margin: auto;
}

#header-block {
  position: relative;
}

.header {
  display: inline-block;
  }

.logo {
    display: inline-block;
    margin-left: 100px;
    margin-top: 30px;
    position: absolute;
  }

nav {
    display: inline-block;  
    margin-right: 100px;
    margin-top: 30px;
    position: absolute;

  }

.ul {
  display: flex;
  
   }