body {
  margin: 0px;
    }

.container {
  margin: auto;
}

.header {
    display: inline-block;
     }

.logo {
    display: inline-block;
    margin-left: 100px;
    margin-top: 30px;
  }

nav {
    display: inline-block;  
    margin-right: 0px;
  }

.ul {
  display: flex;
  
   }